
langchain==0.2.11
langchain-core==0.2.43
langchain-community==0.2.6
langchain-text-splitters==0.2.1
langchain-openai==0.1.7

sentence-transformers==2.5.1
faiss-cpu==1.7.4

pypdf==4.2.0


streamlit==1.39.0


python-dotenv==1.0.1


numpy==1.26.4
tenacity==8.5.0
